# 📊 CONSULTAS SQL PARA OBTENER BINES ÚNICOS DE TARJETAS (TABLA VENTAS)

## 1. Obtener BINs únicos de la tabla ventas (primeros 6 dígitos)
SELECT 
    LEFT("Tarjeta", 6) as bin_tarjeta,
    COUNT(*) as cantidad_transacciones,
    COUNT(DISTINCT "Tarjeta") as tarjetas_unicas
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$' -- Solo números
GROUP BY LEFT("Tarjeta", 6)
ORDER BY cantidad_transacciones DESC;

## 2. Contar total de BINs únicos
SELECT 
    COUNT(DISTINCT LEFT("Tarjeta", 6)) as total_bines_unicos
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$';

## 3. BINs con información adicional (análisis más detallado)
SELECT 
    LEFT("Tarjeta", 6) as bin_tarjeta,
    COUNT(*) as total_transacciones,
    COUNT(DISTINCT "Cliente") as clientes_unicos,
    COUNT(DISTINCT "Sucursal") as sucursales,
    COUNT(DISTINCT "Vendedora") as vendedoras,
    MIN("FechaCompra"::date) as primera_transaccion,
    MAX("FechaCompra"::date) as ultima_transaccion,
    SUM("Monto"::numeric) as monto_total
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
GROUP BY LEFT("Tarjeta", 6)
ORDER BY total_transacciones DESC;

## 4. Top 10 BINs más utilizados
SELECT 
    LEFT("Tarjeta", 6) as bin_tarjeta,
    COUNT(*) as total_ventas,
    COUNT(DISTINCT "Tarjeta") as tarjetas_diferentes,
    ROUND(AVG("Monto"::numeric), 2) as monto_promedio,
    SUM("Monto"::numeric) as monto_total
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
GROUP BY LEFT("Tarjeta", 6)
ORDER BY total_ventas DESC
LIMIT 10;

## 5. BINs por sucursal
SELECT 
    "Sucursal",
    COUNT(DISTINCT LEFT("Tarjeta", 6)) as bines_unicos_sucursal,
    COUNT(*) as total_ventas_con_tarjeta
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
GROUP BY "Sucursal"
ORDER BY bines_unicos_sucursal DESC;

## 6. Análisis temporal de BINs (últimos 6 meses)
SELECT 
    LEFT("Tarjeta", 6) as bin_tarjeta,
    EXTRACT(YEAR FROM "FechaCompra") as año,
    EXTRACT(MONTH FROM "FechaCompra") as mes,
    COUNT(*) as ventas_mes,
    COUNT(DISTINCT "Tarjeta") as tarjetas_diferentes
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
    AND "FechaCompra" >= CURRENT_DATE - INTERVAL '6 months'
GROUP BY LEFT("Tarjeta", 6), EXTRACT(YEAR FROM "FechaCompra"), EXTRACT(MONTH FROM "FechaCompra")
ORDER BY año DESC, mes DESC, ventas_mes DESC;

## 7. Resumen ejecutivo completo
SELECT 
    'Total BINs únicos' as metrica,
    COUNT(DISTINCT LEFT("Tarjeta", 6))::text as valor
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
UNION ALL
SELECT 
    'Total tarjetas únicas' as metrica,
    COUNT(DISTINCT "Tarjeta")::text as valor
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
UNION ALL
SELECT 
    'Total ventas con tarjeta' as metrica,
    COUNT(*)::text as valor
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
UNION ALL
SELECT 
    'Monto total (tarjetas)' as metrica,
    TO_CHAR(SUM("Monto"::numeric), 'FM999,999,999.00') as valor
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$';

## 8. Lista completa de BINs (solo los valores únicos)
SELECT DISTINCT 
    LEFT("Tarjeta", 6) as bin_tarjeta
FROM "ventas" 
WHERE "Tarjeta" IS NOT NULL 
    AND LENGTH("Tarjeta") >= 6
    AND "Tarjeta" ~ '^[0-9]+$'
ORDER BY bin_tarjeta;

