-- Estructura de la base de datos WEB2
-- Generado autom├íticamente el 2025-09-19T15:59:11.047Z


-- Tabla: aclaraciones
DROP TABLE IF EXISTS "aclaraciones" CASCADE;
CREATE TABLE "aclaraciones" (
  "id" integer DEFAULT nextval('aclaraciones_id_seq'::regclass) NOT NULL,
  "procesador" character varying(100),
  "a├▒o" character varying(10),
  "mes_peticion" character varying(50),
  "euroskin" character varying(50),
  "id_del_comercio_afiliacion" character varying(100),
  "nombre_del_comercio" character varying(255),
  "id_de_transaccion" character varying(100),
  "fecha_venta" date,
  "monto" numeric,
  "num_de_tarjeta" character varying(50),
  "autorizacion" character varying(100),
  "cliente" character varying(255),
  "vendedora" character varying(255),
  "sucursal" character varying(100),
  "fecha_contrato" date,
  "paquete" character varying(255),
  "bloque" character varying(100),
  "fecha_de_peticion" date,
  "fecha_de_respuesta" date,
  "comentarios" text,
  "captura_cc" character varying(255),
  "monto_mnx" numeric
);

-- Tabla: bins_cache
DROP TABLE IF EXISTS "bins_cache" CASCADE;
CREATE TABLE "bins_cache" (
  "id" integer DEFAULT nextval('bins_cache_id_seq'::regclass) NOT NULL,
  "bin" character varying(8) NOT NULL,
  "banco" character varying(255),
  "tipo" character varying(100),
  "marca" character varying(100),
  "pais" character varying(100),
  "fecha_consulta" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "fuente" character varying(50) DEFAULT 'binlookup'::character varying
);

-- Tabla: caja
DROP TABLE IF EXISTS "caja" CASCADE;
CREATE TABLE "caja" (
  "id" text,
  "Cliente" text,
  "TipoComprobante" text,
  "Cobro" text,
  "Total" numeric,
  "Concepto" text,
  "Sucursal" text,
  "FolioRecibo" text,
  "es_euroskin_str" text,
  "FormaPago" text,
  "AplicadoA" text,
  "Terminal" text,
  "Fecha" date
);

-- Tabla: cargos_auto
DROP TABLE IF EXISTS "cargos_auto" CASCADE;
CREATE TABLE "cargos_auto" (
  "id" text,
  "Bloque" text,
  "Sucursal" text,
  "Cliente" text,
  "Fecha" date,
  "Cobro" text,
  "Total" numeric,
  "TotalMxn" numeric,
  "Concepto" text,
  "Cobrado_Por" text,
  "Folio_Recibo" text,
  "Forma_Pago" text,
  "Banco_Paquete" text,
  "Es_euroskin" text,
  "Tarjeta" text
);

-- Tabla: ocr_documents
DROP TABLE IF EXISTS "ocr_documents" CASCADE;
CREATE TABLE "ocr_documents" (
  "id" integer DEFAULT nextval('ocr_documents_id_seq'::regclass) NOT NULL,
  "filename" character varying(255) NOT NULL,
  "original_path" text NOT NULL,
  "file_size" integer,
  "mime_type" character varying(100),
  "upload_date" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "processed_date" timestamp without time zone,
  "status" character varying(50) DEFAULT 'pending'::character varying,
  "user_id" character varying(100),
  "document_type" character varying(100),
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "updated_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: ocr_metrics
DROP TABLE IF EXISTS "ocr_metrics" CASCADE;
CREATE TABLE "ocr_metrics" (
  "id" integer DEFAULT nextval('ocr_metrics_id_seq'::regclass) NOT NULL,
  "date" date DEFAULT CURRENT_DATE,
  "total_documents" integer DEFAULT 0,
  "total_corrections" integer DEFAULT 0,
  "average_confidence" numeric DEFAULT 0,
  "processing_time_avg" integer DEFAULT 0,
  "accuracy_improvement" numeric DEFAULT 0,
  "user_id" character varying(100),
  "document_type" character varying(100),
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: ocr_ml_models
DROP TABLE IF EXISTS "ocr_ml_models" CASCADE;
CREATE TABLE "ocr_ml_models" (
  "id" integer DEFAULT nextval('ocr_ml_models_id_seq'::regclass) NOT NULL,
  "model_name" character varying(100) NOT NULL,
  "model_type" character varying(50) NOT NULL,
  "model_path" text NOT NULL,
  "version" character varying(20) NOT NULL,
  "accuracy" numeric DEFAULT 0,
  "training_samples" integer DEFAULT 0,
  "is_active" boolean DEFAULT false,
  "hyperparameters" jsonb,
  "performance_metrics" jsonb,
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "updated_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: ocr_patterns
DROP TABLE IF EXISTS "ocr_patterns" CASCADE;
CREATE TABLE "ocr_patterns" (
  "id" integer DEFAULT nextval('ocr_patterns_id_seq'::regclass) NOT NULL,
  "pattern_type" character varying(100) NOT NULL,
  "original_pattern" text NOT NULL,
  "corrected_pattern" text NOT NULL,
  "frequency" integer DEFAULT 1,
  "accuracy_score" numeric DEFAULT 0,
  "context_category" character varying(100),
  "document_types" ARRAY,
  "last_seen" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "is_active" boolean DEFAULT true,
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "updated_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: ocr_results
DROP TABLE IF EXISTS "ocr_results" CASCADE;
CREATE TABLE "ocr_results" (
  "id" integer DEFAULT nextval('ocr_results_id_seq'::regclass) NOT NULL,
  "document_id" integer,
  "raw_text" text,
  "corrected_text" text,
  "confidence_score" numeric DEFAULT 0,
  "processing_time_ms" integer,
  "ocr_engine" character varying(50) DEFAULT 'tesseract'::character varying,
  "page_number" integer DEFAULT 1,
  "bounding_boxes" jsonb,
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  "updated_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: ocr_training_data
DROP TABLE IF EXISTS "ocr_training_data" CASCADE;
CREATE TABLE "ocr_training_data" (
  "id" integer DEFAULT nextval('ocr_training_data_id_seq'::regclass) NOT NULL,
  "document_id" integer,
  "result_id" integer,
  "original_text" text NOT NULL,
  "corrected_text" text NOT NULL,
  "correction_type" character varying(50),
  "user_feedback" character varying(20) DEFAULT 'manual'::character varying,
  "confidence_before" numeric,
  "confidence_after" numeric,
  "pattern_category" character varying(100),
  "is_validated" boolean DEFAULT false,
  "validated_by" character varying(100),
  "validation_date" timestamp without time zone,
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: papeleria
DROP TABLE IF EXISTS "papeleria" CASCADE;
CREATE TABLE "papeleria" (
  "id" integer DEFAULT nextval('papeleria_id_seq'::regclass) NOT NULL,
  "cliente" character varying(255),
  "sucursal" character varying(100),
  "bloque" character varying(50),
  "fecha_contrato" date,
  "tipo" character varying(10),
  "monto" numeric,
  "t_pago" character varying(50),
  "caja" character varying(50),
  "usuario" character varying(100),
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: usuarios_slack
DROP TABLE IF EXISTS "usuarios_slack" CASCADE;
CREATE TABLE "usuarios_slack" (
  "id" integer DEFAULT nextval('usuarios_slack_id_seq'::regclass) NOT NULL,
  "sucursal" text NOT NULL,
  "slack" text NOT NULL,
  "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Tabla: ventas
DROP TABLE IF EXISTS "ventas" CASCADE;
CREATE TABLE "ventas" (
  "ID" text,
  "FechaCompra" date,
  "Cliente" text,
  "CostoPaquete" numeric,
  "Anticipo" text,
  "Pagos" text,
  "MontoVencido" text,
  "PrimerPago" text,
  "Telefono" text,
  "Sucursal" text,
  "Bloque" text,
  "Vendedor" text,
  "Tarjeta" text,
  "EstatusCobranza" text,
  "Comentarios" text,
  "Saldo" text,
  "Observaciones" text,
  "CostoPaquetePesos" text,
  "AnticipoPesos" text,
  "PagosPesos" text,
  "MontoVencidoPesos" text,
  "SaldoTotalPesos" text,
  "Banco" text,
  "TipoCobranza" text,
  "QPagada" numeric
);

-- ├ìndices
CREATE UNIQUE INDEX aclaraciones_pkey ON public.aclaraciones USING btree (id);
CREATE INDEX idx_aclaraciones_fecha_venta ON public.aclaraciones USING btree (fecha_venta);
CREATE INDEX idx_aclaraciones_procesador ON public.aclaraciones USING btree (procesador);
CREATE UNIQUE INDEX bins_cache_bin_key ON public.bins_cache USING btree (bin);
CREATE UNIQUE INDEX bins_cache_pkey ON public.bins_cache USING btree (id);
CREATE INDEX idx_bins_cache_bin ON public.bins_cache USING btree (bin);
CREATE INDEX idx_ocr_documents_date ON public.ocr_documents USING btree (upload_date);
CREATE INDEX idx_ocr_documents_status ON public.ocr_documents USING btree (status);
CREATE INDEX idx_ocr_documents_user ON public.ocr_documents USING btree (user_id);
CREATE UNIQUE INDEX ocr_documents_pkey ON public.ocr_documents USING btree (id);
CREATE INDEX idx_ocr_metrics_date ON public.ocr_metrics USING btree (date);
CREATE INDEX idx_ocr_metrics_user ON public.ocr_metrics USING btree (user_id);
CREATE UNIQUE INDEX ocr_metrics_date_user_id_document_type_key ON public.ocr_metrics USING btree (date, user_id, document_type);
CREATE UNIQUE INDEX ocr_metrics_pkey ON public.ocr_metrics USING btree (id);
CREATE UNIQUE INDEX ocr_ml_models_model_name_key ON public.ocr_ml_models USING btree (model_name);
CREATE UNIQUE INDEX ocr_ml_models_pkey ON public.ocr_ml_models USING btree (id);
CREATE INDEX idx_ocr_patterns_active ON public.ocr_patterns USING btree (is_active);
CREATE INDEX idx_ocr_patterns_frequency ON public.ocr_patterns USING btree (frequency DESC);
CREATE INDEX idx_ocr_patterns_type ON public.ocr_patterns USING btree (pattern_type);
CREATE UNIQUE INDEX ocr_patterns_pattern_type_original_pattern_corrected_patter_key ON public.ocr_patterns USING btree (pattern_type, original_pattern, corrected_pattern);
CREATE UNIQUE INDEX ocr_patterns_pkey ON public.ocr_patterns USING btree (id);
CREATE INDEX idx_ocr_results_confidence ON public.ocr_results USING btree (confidence_score);
CREATE INDEX idx_ocr_results_document ON public.ocr_results USING btree (document_id);
CREATE UNIQUE INDEX ocr_results_pkey ON public.ocr_results USING btree (id);
CREATE INDEX idx_ocr_training_type ON public.ocr_training_data USING btree (correction_type);
CREATE INDEX idx_ocr_training_validated ON public.ocr_training_data USING btree (is_validated);
CREATE UNIQUE INDEX ocr_training_data_pkey ON public.ocr_training_data USING btree (id);
CREATE UNIQUE INDEX papeleria_pkey ON public.papeleria USING btree (id);
CREATE UNIQUE INDEX usuarios_slack_pkey ON public.usuarios_slack USING btree (id);
CREATE UNIQUE INDEX usuarios_slack_sucursal_key ON public.usuarios_slack USING btree (sucursal);
CREATE INDEX idx_bloque ON public.ventas USING btree ("Bloque");
CREATE INDEX idx_fecha_compra ON public.ventas USING btree ("FechaCompra");
CREATE INDEX idx_sucursal ON public.ventas USING btree ("Sucursal");
CREATE INDEX idx_vendedor ON public.ventas USING btree ("Vendedor");
CREATE INDEX idx_vendedor_bloque ON public.ventas USING btree ("Vendedor", "Bloque");
CREATE INDEX idx_vendedor_fecha ON public.ventas USING btree ("Vendedor", "FechaCompra");
CREATE INDEX idx_vendedor_sucursal ON public.ventas USING btree ("Vendedor", "Sucursal");
CREATE INDEX idx_ventas_sucursal ON public.ventas USING btree ("Sucursal");
